<template>
    <footer class="footer pt-1">
      <b-container class="bv-example-row">
        <b-row>
          <b-col><span class="text-white">
              <img style="width:12%" src="../assets/logo-white.png" alt="" srcset="">
            </span></b-col>
          <b-col><span class="text-white font-weight-bold"> Contact us</span></b-col>
          <b-col><span class="text-white font-weight-bold"> Privacy policy</span></b-col>
          <b-col>
            <span class="text-white">
              <font-awesome-icon class="mt-2 mr-4 fa-2x" :icon="{ prefix: 'fab', iconName: 'facebook-square' }" />
              <font-awesome-icon class="mt-2 fa-2x" :icon="{ prefix: 'fab', iconName: 'instagram-square' }" />
            </span>
          </b-col>
        </b-row>
      </b-container>
      <div class="text-center bg-purple">
        &#169;2021 NextTrip. All right reserved
      </div>
    </footer>
</template>
