<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="dark" class="topbar">
        <b-navbar-brand href="#">
          <img class="logo" src="./assets/logo.png" alt="" srcset="">
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>

          <b-navbar-nav class="ml-auto">
            <b-nav-item href="#">CALL US</b-nav-item>
            <b-nav-item href="#">1-888-444-5555</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <div class="text-center mt-5">
            <img class="svg" src="./assets/phone.svg" alt="" srcset="">
            <p class="p-3 h5">
              1-888-444-5555
            </p>
          </div>
          <p class="p-3 h2 font-weight-bold">
            Need Assistance?
          </p>
          <p class="p-3 ">
            For immediate assistance with your reservation, please call us. For general question, you can email us.
            You'll receive a response within 2 business days.
          </p>
        </b-col>
        <b-col cols="1"></b-col>
        <b-col>
          <ValidationObserver v-slot="{ handleSubmit }">
            <b-form ref="contactform" class="mt-5" @submit.prevent="handleSubmit(onSubmit)">
              <b-alert v-model="showError" variant="danger" dismissible>
                {{errorMessage}}
              </b-alert>
              <b-alert v-model="showSuccess" variant="success" dismissible>
                {{successMessage}}
              </b-alert>
              <p class="font-weight-bold h3 mb-3">
                Email Us
              </p>
              <ValidationProvider rules="required|email" name="Email" v-slot="{ valid, errors }">
                <b-form-group id="input-group-1">
                  <label class="font-weight-500" for="input-1">EMAIL <span style="color: red;">*</span></label>
                  <b-form-input :state="errors[0] ? false : (valid ? true : null)" id="input-1" v-model="form.email"
                    type="email" placeholder="Enter Your Email"></b-form-input>
                  <span class="er">{{ errors[0] }}</span>
                </b-form-group>
              </ValidationProvider>

              <ValidationProvider rules="required" name="Subject" v-slot="{valid, errors }">
                <b-form-group id="input-group-2">
                  <label class="font-weight-500" for="input-2">SUBJECT <span style="color: red;">*</span></label>
                  <b-form-input :state="errors[0] ? false : (valid ? true : null)" id="input-2" v-model="form._subject"
                    type="text" placeholder="Enter subject"></b-form-input>
                  <span class="er">{{ errors[0] }}</span>
                </b-form-group>
              </ValidationProvider>

              <ValidationProvider rules="required" name="Comment" v-slot="{ valid, errors }">
                <b-form-group id="input-group-3">
                  <label class="font-weight-500" for="input-3">COMMENT <span style="color: red;">*</span></label>
                  <b-form-textarea :state="errors[0] ? false : (valid ? true : null)" id="textarea" name="message"
                    v-model="form.message" placeholder="Write your comment..." rows="5" max-rows="6">
                  </b-form-textarea>
                  <span class="er">{{ errors[0] }}</span>
                </b-form-group>
              </ValidationProvider>
              <div class="text-center ">
                <b-button class="custom-button" pill type="submit">SEND</b-button>
              </div>
            </b-form>
          </ValidationObserver>
        </b-col>
      </b-row>

    </b-container>
    <div class="img-row mt-3"></div>
    <Footer />
  </div>
</template>

<script>
  import axios from 'axios';
  import { ValidationObserver, ValidationProvider, extend } from 'vee-validate';
  import { required } from 'vee-validate/dist/rules';
  import Footer from "./components/footer";

  extend('required', {
    ...required,
    message: 'This value is required'
  });
  export default {
    name: "App",
    data() {
      return {
        form: {
          email: '',
          _subject: '',
          message: '',
        },
        showError:false,
        showSuccess:false,
        errorMessage:'',
        successMessage:''
      }
    },
    components: {
      ValidationObserver,
      ValidationProvider,
      Footer
    },
    methods: {
      async onSubmit() {
        try {
          const response = await axios.post('https://mailthis.to/Pianistprogrammer', this.form);
          if (response.status === 200){
            this.showSuccess = true;
            this.successMessage = 'Message sent successfully, you will get a reply from us shortly'
          }
          this.$refs.contactform.reset();
        } catch (error) {
          this.showError = true;
          this.errorMessage = error.response.data;
        }
      }
    }
  }
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  .topbar {
    background: #ededed !important
  }

  .logo {
    width: 50%
  }

  .nav-item>a {
    color: #4688d1 !important;
    font-weight: 600
  }

  .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important
  }

  .custom-button {
    padding: 15px 100px 15px 100px !important;
    margin: 5px 0 10px 0;
    background-color: #2477cc !important
  }

  .svg {
    border: 1px solid #4688d1;
    border-radius: 50%;
    padding: 10px;
  }

  .img-row {
    background-image: url('./assets/policy.jpg');
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: inset 0px 850px 500px -700px #fff;
    -webkit-box-shadow: inset 0px 850px 500px -700px #fff;
    -o-box-shadow: inset 0px 850px 500px -700px #fff;
    box-shadow: inset 0px 850px 500px -700px #fff;
    width: 100% !important
  }

  .footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-color: #052257;
  }

  .font-weight-500 {
    font-weight: 700 !important;
    font-size: 12px !important
  }

  .bg-purple {
    background-color: #052257 !important;
    color: #fff !important
  }

  .er {
    color: red
  }
</style>